{% extends "layout.html" %}
{% block content %}
    <h1>Welcome</h1>
    <div>
        <h2>database</h2>
        <table>
            <caption>Entry table</caption>
            <tr>
                <th>id</th>
                <th>text</th>
            </tr>
            {% for entry in entries %}
                <tr>
                    <td>{{entry.id}}</td>
                    <td>{{entry.text}}</td>
                    <td>
                        <a href="{{ url_for('update_post', entry_id=entry.id) }}">modify</a>
                    </td>
                    <td>
                        <form method="POST" action="{{ url_for('delete_post', entry_id=entry.id) }}">
                            <input type="submit" value="delete">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <a href="{{ url_for('new_entry') }}">Add entry</a>
    </div>
{% endblock content %}