{% extends "layout.html" %}
{% block content %}
    <h1>{{ headerText }}</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div>
            {{ form.text.label }}
            {{ form.text }}
        </div>
        <div>
            {{ form.submit }}
        </div>
    </form>
    <div>
        <a href="{{url_for('home')}}">return home</a>
    </div>
{% endblock content %}